# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
test.sh
test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor dependencies
/vendor

# Ignore binary file
main

# Ignore IDE files
.vscode/

# ignore macos ds store
.DS_Store

